*:focus {
	outline: 0;
	outline: none;
}

a {
	color: inherit;
}

body {
    background-color: white;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

.nav-wrapper a{
	color: black;
}

.brand-logo {
	margin-left: 15px;
}

@font-face {
	font-family: mvBoli;
	src: url(../fonts/mvboli.ttf);
}

.brand-logo-text {
	font-family: mvBoli;
}

/*NAVBAR*/
.main-nav-scrolled {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 150;
}

.main-nav {
	position: fixed;
	top: 0;
	z-index: 150;
}

/*INTRO SECTION */

.intro-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 50vh;
	width: 100%;
/*	padding-top: 20px;*/
	background: url('../images/landing_image3-2.jpg') no-repeat center center fixed;
	background-size: cover;
}

.profile-img {
	height: 250px;
	width: auto;
	border-radius: 50%;
}

.intro-description {
	text-align: center;
	color: white;
	width: 100%;
}

.intro-name {
	font-size: 10rem;
}

.intro-description > * {
	/*text-shadow: -2px 0 gray, 0 2px gray, 2px 0 gray, 0 -2px gray;*/
}

.down-arrow {
	position: relative;
	bottom: 0;
	color: white;
	padding-top: 30px;
	/*text-shadow: -2px 0 gray, 0 2px gray, 2px 0 gray, 0 -2px gray;*/
}

.link-icons {
	
}

.link-icons i {
	background-color: white;
	border-radius: 50%;
}

/*ABOUT SECTION*/
.about-section {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 0px 20px;
	width: 80%;
}

.about-section p {
	font-size: 120%;
}

.about-sub {
	display: flex;
	align-items: center;
}

.link {
	text-decoration: underline;
	font-size: 2rem;
}

.icon-links {
	display: flex;
	justify-content: space-around;
}

/*PROJECTS SECTION*/

.projects-section {
	display: block;
	width: 100%;
	background: url('../images/project_bg.jpg') no-repeat center center fixed;
	background-size: cover;
	padding-bottom: 100px;
}

.projects-section h2 {
	text-align: center;
	margin: 0 auto;
	color: white;
	padding: 100px 0 40px;
}

.project-cards {
	width: 80%;
	margin: 0 auto;
}

.card-parent{
	position:relative;
}

.btn-mid {
	position: absolute;
	top: 0;
	margin-top: 45%;
	z-index: 10;
}

.btn-left {
	margin-top: -150px;
}

.reactcards {
	color: black;
}

.card-links {
	display: flex;
	justify-content: space-around;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating) {
	color: black;
	margin-right: 0;
	border: 1px solid;
	padding: 4px 10px;
	border-radius: 5px;
}















